.settings-list__li {
  padding: 20px 0px;
  font-size: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}
.settings-list__li i {
  margin: 0px 20px;
  opacity: 0.7;
}

.settings-list__li:nth-child(3),
.settings-list__li:nth-child(9) {
  display: flex;
  justify-content: space-between;
}

.settings-list__li:nth-child(3) {
  border-bottom: var(--main-border);
  padding-bottom: 30px;
}
.settings-list__li:nth-child(4) {
  padding-top: 30px;
}

.settings-list__subtitle {
  opacity: 0.5;
}
