.screen-header__column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  padding: 20px;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__icons i {
  margin-left: 20px;
}
